html,
body {
    background: url('../images/corporate.png');
    font-family: 'Roboto', sans-serif;
    background-color: #4A148C;
}

#nav {
    color: #4A148C;
}


.container {
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#email,
#password {
    padding: 10px;
    width: 300px;
}

.login {
    width: 200px;
    background-color: #4A148C;
    color: white;
    border-color: #4A148C;
    font-family: 'Roboto', sans-serif;
}

.panel-default>.panel-heading {
    background-color: #8E24AA;
}

.panel-heading>h5 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.panel-heading,
.panel-body {
    padding: 20px;
}

.profile-btns {
    padding: 10px;
    width: 300px;
    margin: 10px;
    background-color: #4A148C;
    color: white;
    border-color: #4A148C;
}

#dropdown,
#new-reference-item-txt-box,
#share-reference-txt-box,
#new-reference-name-box {
    width: 300px;
    margin: 2px;
}

#new-reference-item-txt-box {
    width: 270px;
    margin-bottom: 20px;
}

#add-reference-item-btn,
#share-reference-btn {
    margin-left: 5px;
}

h5 {
    color: white;
}

#save-reference-name-txt {
    margin-right: 5px;
}

#share-form {
    margin-bottom: 10px;
}

.new-reference-item {
    border: thin solid #4A148C;
    background-color: #4A148C;
    margin: 10px;
}

.taskItemComplete h5 {
    text-decoration: line-through;
}

.taskItemComplete {
    background-color: rgb(255, 140, 140);
    border-color: rgb(255, 140, 140);
}

.profile-area img {
    max-width: 150px;
    margin-bottom: 20px;
}

.panel-body h3 {
    margin-top: 0;
}